body {
  font-family: 'Lato';
}

.navbar a {
  color: #333;
}

.navbar {
  background-color: #f7f7f7;
}

.main-icon {
  height: 1em;
  display: inline!important;
}

.icon-bar {
  background-color: #333;
}

/* Sticky footer styles */

/* Sticky footer styles */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f7f7f7;
}

.footer .container .text-muted {
  margin: 10px 0;
}
