<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="/assets/css/main.css">
    <title>{{ title }} - Rittybox Development Platform</title>
  </head>
  <body>
    <header class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="../" class="navbar-brand"><img class="main-icon" src="/assets/logo/logo.png" alt="Rittybox Logo"> Rittybox</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="/member">Members</a>
            </li>
            <li>
              <a href="/projects">Projects</a>
            </li>
            <li>
              <a href="/blog">Blog</a>
            </li>
            <li>
              <a href="/chat">Chat</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/signup">Sign Up for Rittybox</a></li>
            <li><a href="/login">Sign in</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <footer class="footer">
      <div class="container">
        <p class="text-muted small">Copyright &copy; 2015 Rittybox. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
